:root {
  --background-color: #f5f5f5;
  --border-color: #7591ad;
  --text-color: #34495e;
  --color1: #ec3e27;
  --color2: #fd79a8;
  --color3: #0984e3;
  --color4: #00b849;
  --color5: #fdcb6e;
  --color6: #e056fd;
  --color7: #f97f51;
  --color8: #bdc581;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 14px;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.channel {
  position: absolute;
  width: 80%;
  text-align: center;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 5vmin;
  font-weight: bold;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Noto Sans CJK SC, WenQuanYi Micro Hei, Arial, sans-serif;
  color: #35353588;
  z-index: 999999;
}

.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  /* background-color: #00b894; */
  /* 设置为弹性盒子 */
  display: flex;
  /* 垂直居中和水平居中 */
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* 创建一个圆框 用来切换开关 */
#switch {
  position: relative;
  /* 宽为60xp */
  width: 60px;
  /* 高为30px */
  height: 30px;
  /* 边框为2px 实线 颜色为#333 */
  border: 2px solid #333;
  /* 把方框变为圆框 */
  border-radius: 30px;
  /* 设置光标为一只手 */
  cursor: pointer;
  z-index: 1;
}
/* ::before之前插入内容 */
/* ::after 之后插入内容 */
#switch::before,
#switch::after {
  position: absolute;
  line-height: 26px;
  /* 将文字转换为大写 */
  text-transform: uppercase;
  font-weight: 800;
  /* 居中 间隔20px */
  padding: 0 15px;
  cursor: inherit;
  pointer-events: none;
}

#switch::before {
  content: "slow";
  right: 100%;
  color: var(--color8);
}
#switch::after {
  content: "fast";
  left: 100%;
  color: var(--color3);
}

/* 创建一个内部的圆点 */
#switch .circle {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 50%;
  /* 阴影效果 */
  box-shadow: inset 4px -2px 0 0 var(--color8);
  /* 添加匀速效果 */
  transition: all 0.5s cubic-bezier(0.86, 1.51, 0.74, 1);
}

/* 点击选中的情况 */
#switch.switched .circle {
  /* calc函数于动态计算长度值 */
  left: calc(100% - 20px - 3px);
  box-shadow: inset 4px -2px 0 0 var(--color3);
}

/* 这里是主页面框 */
.main {
  position: relative;
  width: 400px;
  height: 300px;
  border: 2px solid #333;
  margin-top: 20px;
  overflow: hidden;
}

/* 这里是太阳 */
.sun {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 50%;
  left: 270px;
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* 开启动画效果 10s执行一次 匀速 无线执行 */
  animation: sun_rotate 10s linear infinite;
}
/* 动画效果 */
@keyframes sun_rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.sun span {
  position: absolute;
  display: block;
  height: 2px;
  width: 16px;
  background-color: #333;
  /* 旋转角度为45度  X轴旋转-20px*/
  transform: rotate(calc(var(--i) * 45deg)) translateX(-20px);
  /* 设置阴影效果 */
  box-shadow: 4px 4px 0 0 var(--color5);

  animation: sun_ray 1s linear infinite;
  /* 定义动画0.5秒后开始 */
  animation-delay: calc(var(--i) * -0.5s);
}

/* 动画效果太阳线来回伸缩 */
@keyframes sun_ray {
  0% {
    transform: rotate(calc(var(--i) * 45deg)) translateX(-20px) scaleX(1);
  }
  50% {
    transform: rotate(calc(var(--i) * 45deg)) translateX(-20px) scaleX(0.6);
  }
  100% {
    transform: rotate(calc(var(--i) * 45deg)) translateX(-20px) scaleX(1);
  }
}

/* 这是群山 */
.mountain {
  position: absolute;
  border: 2px solid #333;
  transform: rotate(45deg);
}
.mountain.a {
  width: 14px;
  height: 14px;
  left: 80px;
  bottom: 35px;
}
.mountain.b {
  width: 18px;
  height: 18px;
  left: 130px;
  bottom: 45px;
}
.mountain.c {
  width: 20px;
  height: 20px;
  left: 190px;
  bottom: 60px;
}
.mountain.d {
  width: 2px;
  height: 2px;
  left: 238px;
  bottom: 62px;
  /* 边框去除下面 */
  border-bottom: none;
}
.mountain.e {
  width: 14px;
  height: 14px;
  left: 282px;
  bottom: 41px;
}
.mountain.a::after,
.mountain.b::after,
.mountain.c::after,
.mountain.d::after,
.mountain.e::after,
.mountain.a::before,
.mountain.b::before,
.mountain.c::before,
.mountain.d::before,
.mountain.e::before {
  position: absolute;
  content: "";
  background-color: #333;
}
.mountain.a::after,
.mountain.b::after,
.mountain.c::after,
.mountain.d::after,
.mountain.e::after {
  left: -2px;
  top: 100%;
  width: 2px;
}
.mountain.a::after {
  height: 70px;
}
.mountain.b::after {
  height: 50px;
}
.mountain.c::after {
  height: 70px;
}
.mountain.d::after {
  height: 14px;
}
.mountain.e::after {
  height: 18px;
}
.mountain.a::before,
.mountain.b::before,
.mountain.c::before,
.mountain.d::before,
.mountain.e::before {
  top: -2px;
  left: 100%;
  height: 2px;
}
.mountain.a::before {
  width: 14px;
  box-shadow: -5px -5px 0 0 var(--color4);
}
.mountain.b::before {
  width: 14px;
  box-shadow: -5px -5px 0 0 var(--color4);
}
.mountain.c::before {
  width: 36px;
  box-shadow: -14px -5px 0 0 var(--color4);
}
.mountain.d::before {
  width: 55px;
  box-shadow: 5px 5px 0 0 var(--color4);
}
.mountain.e::before {
  width: 70px;
  box-shadow: 5px 5px 0 0 var(--color4);
}

/* 云朵 */
.cloud_wind_group {
  position: absolute;
  width: 100%;
  height: 100%;
}
.cloud {
  position: absolute;
  width: 60px;
  height: 45px;
}
.cloud.a {
  left: 60px;
  top: 20px;
}
.cloud.b {
  left: 160px;
  top: 80px;
  transform: rotateY(180deg);
}
.cloud.c {
  left: 280px;
  top: 50px;
}
.cloud span {
  position: absolute;
  display: block;
  /* width: 20px;
  height: 20px;
  top: 120px; */
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 50%;
}
.cloud span:nth-child(1) {
  width: 20px;
  height: 20px;
  bottom: 0;
  left: 0;
  /* transparent为透明 */
  border-right-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(-45deg);
}
.cloud span:nth-child(2) {
  width: 20px;
  left: 10px;
  height: 20px;
  bottom: 10px;
  /* transparent为透明 */
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(45deg);
}
.cloud span:nth-child(3) {
  width: 30px;
  left: 15px;
  height: 30px;
  bottom: 12px;
  /* transparent为透明 */
  border-right-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(50deg);
  box-shadow: 0 -3px 0 0 var(--color3);
}
.cloud span:nth-child(4) {
  width: 27px;
  left: 31px;
  height: 27px;
  bottom: 0px;
  /* transparent为透明 */
  border-left-color: transparent;
  transform: rotate(0deg);
  box-shadow: 2px -1px 0 0 var(--color3);
}
.cloud span:nth-child(5) {
  width: 35px;
  height: 15px;
  left: 10px;
  bottom: 0;
  border-radius: 0;
  border-width: 0 0 2px 0;
}
/* 中间云的阴影 */
.cloud.b span:nth-child(1) {
  box-shadow: 0px -3px 0 0 var(--color3);
}
.cloud.b span:nth-child(2) {
  box-shadow: -2px -3px 0 0 var(--color3);
}
.cloud.b span:nth-child(3) {
  box-shadow: -1px -3px 0 0 var(--color3);
}
.cloud.b span:nth-child(4) {
  box-shadow: none;
}
